<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Displays</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'ecommerce/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'ecommerce/css/styles.css' %}" rel="stylesheet" />
    </head>
{% include 'ecommerce/components/navbar.html' %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Displays</h1>
            <p class="lead fw-normal text-white-50 mb-0">Los mejores monitores importados del país, quemate (o no) los ojos viciando con estas pantallas.</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">    
            {% for display in displays %}
            <div class="col md-3">
                <!-- Modulo Display 1-->
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvrEJ2O3LDpq3hRa6v2vlnR-Wq0Xvwf9sgdVkLVCX0Ujj-gxmNqGpHKZSgagwPnB-W-pk&usqp=CAU" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{display.nombre}}</h5>
                            <!-- Product price-->
                            <div class="text-center">
                            <p>{{display.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/ecommerce/displays/">Quiero verlo</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}           
        </div>
    </div>
</section>
{% include 'ecommerce/components/footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'ecommerce/js/scripts.js' %}"></script>
</html>